﻿@{
    Layout = null;



    var selectedCatalog = Request.Form["Catalog"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item active">
                        <a class="nav-link" href="~/Views/Catalog.cshtml">Catalog</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
           
            <div class="col-lg-9">
                <form method="post">
                    <div class="row" style="margin-top: 2em;">


                        <div class="col-lg-4 col-md-6 mb-4">
                            <h3>Select catalog:</h3>

                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <select id="Catalog" name="Catalog">
                                @{
                                    if (!IsPost)
                                    {
                                        <option value="" selected="selected">--</option>
                                        foreach (string catalog in AutomationDemo.Classes.ProductBC.GetAllCatalogs())
                                        {
                                            <option value="@catalog">@catalog</option>
                                        }
                                    }
                                    else
                                    {
                                        
                                        if (string.IsNullOrEmpty(selectedCatalog))
                                        {
                                            <option value="" selected="selected">--</option>
                                            foreach (string catalog in AutomationDemo.Classes.ProductBC.GetAllCatalogs())
                                            {
                                                <option value="@catalog">@catalog</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="">--</option>
                                            foreach (string catalog in AutomationDemo.Classes.ProductBC.GetAllCatalogs())
                                            {
                                                if (selectedCatalog == catalog)
                                                {
                                                    <option value="@catalog" selected="selected">@catalog</option>
                                                }
                                                else
                                                {
                                                    <option value="@catalog">@catalog</option>
                                                }
                                            }
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <button type="submit" value="SelectCatalog">Välj</button>
                        </div>
                    </div>
                </form>


                <div class="row">
                    @{
                        var productsResponse = AutomationDemo.Classes.ProductBC.GetProductsForCatalog(selectedCatalog);
                        if (productsResponse.Data != null)
                        {
                            foreach (AutomationDemo.Entitites.Product product in productsResponse.Data as List<AutomationDemo.Entitites.Product>)
                            {
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#">
                                            @{
                                                if (string.IsNullOrEmpty(product.ImageURL))
                                                {
                                                    <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                                                }
                                                else
                                                {
                                                    <img class="card-img-top" src="@product.ImageURL" alt="">
                                                }
                                            }
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#">@product.Name</a>
                                            </h4>
                                            
                                            <p class="card-text">@product.Description</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    }

                  
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
